body{
	margin: 0%;
	padding: 0%;
	display: inline;
}

/* Navigation Bar */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:white;
	padding: 20px;
	color: #333;
	border-bottom: 4px solid black;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.logo h1 {
	font-size: 30px;
	margin-left: 15%;
}

.nav-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.nav-links li {
	margin: 0 10px;
}

.nav-links>ul>li>a{
	font-size: medium;
	text-decoration:none;
	color:white;
	background-color:black;
	padding:8%;
	border-radius: 5px;
}

.nav-links a {
	color: #333;
	text-decoration: none;
}
.search-icon{
	background-color: black;
	padding: 1%;
	border-radius: 110% 110% 120% 120%;
}
.search-icon img {
	height: 20px;
	filter: invert(100%);
	width: 20px;
}

.menu-icon button{

	border: 0.1 px white;
	border-radius: 30%;
	padding: 22%;
}
main{
	display: flex;
	flex-direction: row;
}
.left{
	display: block;
	background-color: white;
	width: 84vw;
}
.right{
	width: 50vw;
}

/* Main Text Section */
.welcome {
	display: inline-block;
	width: 75vw;
	padding: 3%;
	padding-left: 12%;
}
.welcome>a{
	text-decoration: none;
	color: black;
}

.welcome h2 {
	margin: 0%;
	padding: 0%;
	font-size: 30px;
	margin-bottom: 2.5%;
}

/* Blog Section */
.blog {
	display: block;
	border-radius: 15px;
	width: 80%;
	height: 80%;
	justify-content: space-between;
	align-items: center;
	/* margin:6% 3.6%; */
	margin-left:12%;
	position: relative;
	box-shadow: 1px 1px 1px 1px black;

	margin-bottom:5%;
	background-size: cover;
	background-repeat: no-repeat;
	/* background-color: red; */
}
#blog :hover img{
	transform: scale(1.2);
}
.blog-image img {
	width:100%;
	height:100%;
	object-fit: cover;
}

.blog-content h3 {
	font-size: 24px;
	margin: 0;
}

.blog-content p {
	font-size: 16px;
	margin: 10px 0;
}

.blog-content a {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
}

#blog-about{
	padding: 4%;
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	z-index: 999;
	left: 0;
}
#blog-details{
	margin: 4%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: transparent;
	color: white;
	padding: 2%;
}
#blog-details>h3{
	color: white;
	background-color: black;
	border-radius: 5px 5px 5px 0px;
	padding: 5px;
	display: inline;
	font-weight: lighter;
	font-size: small;
	margin: 0;
}
#blog-details>p{
	color: white;
	background-color: black;
	border-radius: 0px 5px 5px 0px;
	width: max-content;
	padding: 5px;
	margin: 0;
}
.blog-content>a{
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: white;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 4%;
}

#blog-about>span{
	border: 2px solid black;
	background-color: #f2f2f2;
	border-radius: 5px;
	margin-right: 5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#blog-text{
	width: 100%;
	margin-top: 8%;
	margin-bottom: 8%;
	text-align: justify;
	margin-left:12%;
	font-size: large;
}
/* Sorted till here */

/* News Section */
.news {
	display: inline-block;
	padding-top: 10%;
	padding-left: 10%;
	padding-bottom: 8%;
	padding-left: 5%;
	background-color: #f2f2f2;
	border-radius: 5px;
	width: 85%;
	margin-top: 15%;
	border: 1px solid black;
	box-shadow: 1px 1px 1px 1px gray;
}

.news>h3 {
	font-size:smaller;
	border: 2px solid black;
	width: fit-content;
	padding: 2% 5% 2% 5%;
	border-radius: 5px;
	margin: 0;
	background-color: transparent;
	font-weight: lighter;
}
#news-about{
	margin-top: 5%;
}
#news-about>p{
	font-size: small;
	margin: 0px;
}
.news>a{
	font-size: small;
	border-radius: 5px;
	padding: 2% 5% 2% 5%;
	color: white;
	background-color: black;
	text-decoration: none;
}
.empty{
	background-color: rgb(0, 0, 0);
	height: 1px;
	width: 90%;

}
#headline{
	margin-top: 10%;
	margin-bottom: 10%;
}
#headline>p{
	font-size: large;
	font-weight: bold;
	margin: 0;
}
/* Jobs Section */
.jobs {
	display: inline-block;
	margin-top: 5%;
	padding-top: 10%;
	padding-left: 10%;
	padding-bottom: 8%;
	padding-left: 5%;
	position: relative;
	width: 85%;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px rgb(64, 64, 64);
	background-color: #d5a641;
	margin-bottom: 5%;
}

.jobs>h3 {
	font-size:smaller;
	border: 2px solid black;
	width: fit-content;
	padding: 2% 5% 2% 5%;
	border-radius: 5px;
	margin: 0;
	background-color: transparent;
	font-weight: lighter;
}

#second{
	margin: 0 auto;
	margin-top: 5%;
	margin-right: 5%;
	width: max-content;
}
#second>p{
	text-align: end;
}
.job-entry{
	margin-top: 5%;
	width: max-content;
}
.job-entry>p{
	margin: 0;
}
.job-position{
	padding-bottom: 5%;
	font-size:large;
	font-weight: bold;
}
.job-location{
	padding-top: 2%;
	font-size: smaller;
}
.job-type{
	font-size: smaller;
	padding-top: 2%;
	padding-bottom: 5%;
}
.job-salary{
	padding-top: 2%;
	padding-bottom: 15%;
	font-weight: bolder;
}
#dev{
	padding-bottom: 4%;
}
#jobs-section{
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 2% 5% 2% 5%;
	background-color: black;
	border-radius: 5px;	
	font-size:smaller;
	margin-left: auto;
}
#job-flexbox{
	display: flex;
	justify-content: center;
	position: relative;
	flex-direction: row;
}
.vertical{
	width: 15px;
	height:90%;
	color: white;
}
/* Footer */
footer {
	padding: 20px;
	background-color: black;
	color: #fff;
	text-align: center;
}

@media (max-width:1150px){
	main{
		display: flex;
		flex-direction: column;
	}
	.logo h1 {
		font-size: 30px;
		margin-left: 15%;
	}
	.right{
		margin-left: 12%;
		margin-bottom: 5%;
		width: 69%;
	}
}


@media (max-width:500px){
	main{
		display: flex;
		flex-direction: column;
	}
	.nav-links{
		display: none;
	}
	.blog{
		margin-top: 10%;
		width: 90%;
	}
	#blog-about{
		display: none;
	}
	.logo h1 {
		font-size: 30px;
		margin-left: 15%;
	}
	.right{
		margin-left: 12%;
		margin-bottom: 5%;
		width: 80%;
	}
}